{% extends "AppPeliseries/padre.html" %}

{% block titulopest %}<title>Contacto</title> {% endblock %}

{% block contact %}
        <!-- Contact-->
        <section class="contact-section bg-black">
           <center><div class="container px-4 px-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">brunomontiel09@gmail.com</a></div>
                            </div>
                        </div>
                    </div></center>

                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
    {% endblock %}