{% extends "AppPeliseries/padre.html" %}

{% block titulopest %}<title>Posteos sobre musica</title> {% endblock %}

{% block section %}
            <br>
            <h1 style="font-size:50px; color:rgb(43, 66, 97); font-family:verdana; font-size:300%"> Aca se pueden ver los posteos</h1> <hr style="width: 100%; height: 5px">
            
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">

                            <p class="text-black-50 mb-0">{% for musica in object_list %}

                                <p></p> Autor: {{musica.autor}}
                             
                                 <a href="{% url 'Detalle Musica' musica.pk %}"> Post sobre:{{musica.nombre}}</a>
                                 <a href="{% url 'Editar Musica' musica.pk %}"> Editar Posteo</a>
                                 <a href="{% url 'Borrar Musica' musica.pk %}"> Borrar Posteo</a>
                                 <hr>
                                 
                                 
                             
                             {% endfor%}
                            </p>
                        </div>
                    </div>
                </div>

                <div style="padding-left:10%; padding-bottom:3%">
                <p><a class="btn btn-primary" href="{% url 'Crear Post Musica' %}">Nuevo Posteo</a></p>
                </div>
{% endblock %}